// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$primary: red;
$secondary: green;

.movie {
  border: 2px solid $primary;
  color: $secondary;
  padding: 20px;
  margin-top: 10px;
  border-radius: 15px;
}