<html>
  <head>
    <link rel="stylesheet" href="styles.css" />

    <title>Authentication Server</title>
  </head>
  <body>
    <%- include('./partials/_header') %>

    <h1>Welcome. Please login or register to continue</h1>

    <h2>Monkeyfuzz!</h2>
  </body>
</html>
